.button-pd {
    background-color: #ffb703;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    transition-duration: 0.4s;
    width: 200px;
}
.button-pd:hover{
    background-color: #fb8500;
    color: white;
}
.text-pred{
    color: #8ecae6;
    text-align: center;
}

.space-button{
    padding: 20px 0;
    text-align: center;
}
.text-cazuri{
    text-align: center;
    padding:  30px 0;
    color: #023047;
}